html { 
    scroll-behavior: smooth; 
  }
body{
    text-align: justify;
}
a{
    color: #ff5080 !important;
}
/* Estilos CSS para la barra de navegación */
body .navbar {
    background-color: #343439 !important;
}
.navbar-brand {
    color: #ff5080 !important;
    margin-left: 70px;
}
.navbar-toggler-icon {
    background-color: #ff5080 !important;
}

.navbar-nav .nav-link {
    color: #ff5080 !important;
}

/* Alinear la marca a la izquierda y los elementos de navegación a la derecha */
.navbar-nav {
    margin-left: auto;
    margin-right: 50px;
}

/* Ajustar márgenes y padding según sea necesario */
.navbar-brand,
.navbar-nav .nav-link {
    margin-right: 10px;
}

/* Opcional: Cambiar el color del enlace activo si lo deseas */
.navbar-nav .nav-item.active .nav-link {
    color: #ff5080;
}

.navbar-nav .navbar-toggler-button {
    color: #ff5080;
    border-color: #ff5080;
    background-color: turquoise;
}

.navbar-toggler-icon{
    color: #f3f3f3;
}

#inicio {
    background: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url("../img/fondo-inicio.webp");
    background-size: cover;
    background-position: center center;
    padding: 3%;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #ff5080;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #ff5080;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #ff5080;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #ff5080;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #ff5080;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #ff5080;
}

#inicio .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#inicio .presentacion .bienvenida {
    font-size: 32px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
}

#inicio .presentacion h2 {
    font-size: 55px;
    margin-bottom: 25px;
    text-align: center;
}

#inicio .presentacion h2 span {
    font-size: 60px;
    color: #ff5080;
}

#inicio .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}
#inicio .presentacion a:hover {
    background-color: #ff5080;
    color: #fff !important;
}
#sobre-mi {
    max-width: 100%;
    margin: auto;
    color: #111135;
    display: flex;
    padding-top: 70px;
    background-color: white;
    padding: 20px 20px;
}
#sobre-mi .titulo-seccion{
    font-size: 32px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    padding: 40px;
}
#sobre-mi .sobre-mi {
    margin: 5px 5px;
}

#sobre-mi .sobre-mi h2 {
    font-size: 34px;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: 2px;
}

#sobre-mi .my-3 h2 span {
    color: #ff5080;
}

#sobre-mi .h3 {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

#sobre-mi .sobre-mi p {
    font-size: 16px;
    line-height: 25px;
    color: #565656;
    margin-bottom: 18px;
    margin-top: 18px;
}

#sobre-mi .sobre-mi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobre-mi .col-md-5 i span{
    font-size: 15px;
    margin-left: 20px;
    text-align: right;
    /* Ajusta el tamaño de la fuente */
}
.col-md-6 .img-fluid{
    max-width: 80% !important;
    align-items: center !important;
    padding-left: 20%;
}

#sobre-mi .col-md-5 {
    border: 2px solid #ff5080; /* Cambia el color del borde según tus preferencias */
    padding: 5px;
    margin-right: 1px; /* Ajusta el margen entre el icono y el texto según tus preferencias */
    border-radius: 4px; /* Ajusta el radio del borde según tus preferencias */
    margin-bottom:5px; 
  }
/*seccion FORMACION */
#formacion {
    background-color:rgb(191, 190, 190)
}

.formacion-horizontal-timeline {
    padding: 80px 0;
}

#formacion .titulo-seccion {
    font-size: 32px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;
}

/*.formacion-horizontal-timeline*/
.formacion-horizontal-timeline .col-sm-4 {
    padding: 0 2px;
}

.single-horizontal-timeline .experience-time h3 {
    text-transform: capitalize;
}

.single-horizontal-timeline .experience-time h3 span {
    text-transform: lowercase;
}

.single-horizontal-timeline .timeline-content h5 {
    margin: 15px 0;
}

.single-horizontal-timeline p {
    color: #999fb3;
    max-width: 335px;
}

/*.timeline-horizontal-border*/
.timeline-horizontal-border {
    display: flex;
    align-items: center;
    padding: 26px 0 30px;
}

.timeline-horizontal-border i {
    font-size: 10px;
    color:  #ff5080;
    margin-right: 5px;
}

span.single-timeline-horizontal {
    display: inline-block;
    background: #b2c1ce;
    height: 1px;
    width: 380px;
}
/*seccion CONOCIMIENTOS */
#servicios {
    padding: 30px;
    background-color:#f4efef;
    align-items: center;
}
#servicios .fila {
    display: inline-flex;
}
#servicios .fila .servicio {
    background-color: #fff;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    transition: .5s;
    width: 90%;
}
#servicios .titulo-seccion {
    font-size: 32px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 80px;
    margin-top: 80px;
}
#servicios .fila .servicio:hover {
    box-shadow: 5px 5px 10px #565656, -5px -5px 10px #8a8a8a;
}
#servicios .col .img {
    width: 90px;
    margin: 10px 10px;
}
#servicios .icon {
    margin: 10px;
    border: 0px;
    width: 80%;
    height: auto;
    padding-top: 30px;
}
/*seccion FORMACION */
#formacion {
    background-color:white;
    padding-top: 50px;
    padding: 8%;
}

.formacion-horizontal-timeline {
    padding: 80px 0;
}

#formacion .titulo-seccion {
    font-size: 32px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;
    margin-top: 20px;
}

/*.formacion-horizontal-timeline*/
.formacion-horizontal-timeline .col-sm-4 {
    padding: 0 2px;
}

.single-horizontal-timeline .experience-time h3 {
    text-transform: capitalize;
}

.single-horizontal-timeline .experience-time h3 span {
    text-transform: lowercase;
}

.single-horizontal-timeline .timeline-content h5 {
    margin: 15px 0;
}

.single-horizontal-timeline p {
    color: #999fb3;
    max-width: 335px;
}

/*.timeline-horizontal-border*/
.timeline-horizontal-border {
    display: flex;
    align-items: center;
    padding: 26px 0 30px;
}

.timeline-horizontal-border i {
    font-size: 10px;
    color:  #ff5080;
    margin-right: 5px;
}

span.single-timeline-horizontal {
    display: inline-block;
    background: #b2c1ce;
    height: 1px;
    width: 90%;
}

/* *********************/
/* seccion P O R T F O L I O */
/* *********************/
#portfolio .titulo-seccion {
    font-size: 32px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    margin-bottom: 40px;
    margin-top: 80px;
}

#portfolio .card {
    transition: transform 0.3s; /* Añade una transición suave al efecto hover */
    padding: 20px;
}

#portfolio .container{
    padding: 5%;
}

#portfolio .card:hover {
    transform: scale(1.05); /* Ajusta la escala al pasar el ratón para dar un efecto de hover */
}

#portfolio .card img {
    max-width: 100%;
    height: auto;
}

#portfolio .card-body {
    padding: 50px;
}

#portfolio .card-title {
    font-size: 20px;
    font-weight: bold;
}

#portfolio .card-text {
    font-size: 16px;
    color: #565656;
}
/* seccion CONTACTO */
#contacto {
    padding: 5% 5%;
    text-align: center;
    background-color: #f4efef;
}

#contacto .titulo-seccion {
    font-size: 32px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
    padding-top: 5%;
    padding-bottom: 5%;
}

#contacto .fila {
    display: flex;
    justify-content: space-between;
}

#contacto .contenido-contacto {
    max-width: 100;
    text-align: center;
    padding: 20px;
}

#contacto .contenido-contacto p {
    font-size: 18px;
    margin-bottom: 10px;
}

#contacto .mapa {
    width: 100%;
    /* Cambia el color y grosor del borde según tus preferencias */
    /* Añade esquinas redondeadas al borde */
}

#contacto .mapa iframe {
    width: 100%;
    height: 300px;
    border: 0;
}

.contenido-contacto .campo {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 15px;
    font-size: 24px;
}

.contenido-contacto .campo i {
    font-size: 24px;
    padding: 10px;
    /* Ajusta el valor según tus preferencias */
}

.contenido-contacto a {
    color: #ff5080;
    /* Cambia el color según tus preferencias */
    text-decoration: none;
    /* Opcional: elimina el subrayado si lo deseas */
    font-weight: bold;
    /* Opcional: ajusta el peso de la fuente si lo deseas */
}

.contenido-contacto a {
    color: #ff5080;
    /* Cambia el color según tus preferencias */
    text-decoration: none;
    /* Opcional: elimina el subrayado si lo deseas */
    font-weight: bold;
    /* Opcional: ajusta el peso de la fuente si lo deseas */
}

#footer {
    background-color: #000000;
    padding: 35px 15px;
    text-align: center;
}

#footer .iconos {
    font-size: 38px;
    color: #fff;
    /* Cambia el color de los iconos a blanco */
}

#footer a {
    color: #ff5080;
    text-decoration: none;
    margin: 0 10px;
}

#footer a:hover {
    color: #fff;
}

#footer .copyright-text {
    color: #fff;
    font-size: 16px;
    margin-top: 15px;
}